[submodule "ext-src/encoder-wave"]
	path = ext-src/encoder-wave
	url = https://github.com/normanzb/encoder-wave.git
[submodule "ext-src/encoder-mp3"]
	path = ext-src/encoder-mp3
	url = https://github.com/kikko/Shine-MP3-Encoder-on-AS3-Alchemy.git
[submodule "ext-src/promise-as3"]
	path = ext-src/promise-as3
	url = https://github.com/CodeCatalyst/promise-as3.git
